body{
	font-family: "Roboto", sans-serif;
	font: 20px;
	line-height: 1.8;
}

h1{
	margin: 0px;
}
h3{
	margin: 0px;
}
p{
	margin: 0px;
}


.mdl-layout-title{
	color: #757575;
}

.avatar{
	margin-top: 10px;
	width: 160px;
	height: auto;
	border-radius: 50%;
}

.nav-drawer-list-image{
	width: 24px;
	margin-right: 31px;
	height: auto;
	vertical-align: middle;
}

.mdl-navigation__link{
	font-family: sans-serif;
	font-weight: 600;
}

.card-container{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 90px;
}

.card{
	box-shadow: 0px 7px 12px rgba(0,0,0,0.25);
}

.card-text-container{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #424242;
}

.card-text-container h1{
	font-size: 24px;
}

.card-text-container h3{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: -8px;
}

.card-text-container p{
	font-size: 16px;
}

.home-me-image{
	max-width: 100%;
	margin: auto;
}

.material-icons.icon-style { 
	color: #01579B; 
}

.bold{
	font-weight: bold;
}