<div class="navbar">
	<img src="images/avatar.png" class="avatar" alt="avatar">
	<p class="title">Akshath Jain</p>

	<a href="index.html" {% if page.title == "Home" %} class="selected" {% endif %}>
		<i class="icon material-icons">home</i>
		Home
	</a>
	
	<a href="projects.html" {% if page.title == "Projects" %} class="selected" {% endif %}>
		<i class="icon material-icons">code</i>
		Projects
	</a>
	
	<a href="github.html" {% if page.title == "GitHub" %} class="selected" {% endif %}>
		<img class="icon" {% if page.title == "GitHub" %} src="images/githubIconFocused.svg" {% else %} src="images/githubIcon.svg" {% endif %}>
		GitHub
	</a>
	
	<a href="leadership.html" {% if page.title == "Leadership" %} class="selected" {% endif %}>
		<i class="icon material-icons">navigation</i>
		Leadership
	</a>
	
	<a href="contact.html" {% if page.title == "Contact" %} class="selected" {% endif %}>
		<i class="icon material-icons">contacts</i>
		Contact
	</a>
</div>