$primaryLight: 		#fafbfc;
$secondaryLight: 	#ffffff;
$primaryDark:       #24292e;
$secondaryDark: 	#2b3137;
$accentColor: 		#2dba4e;
$accentColor700: 	#1C8534;

$textColorPrimary: 		#fff; 
$textColorSecondary:    #000;

$mobileMaxWidth: 		750px;
$cardBorder: 			5px;

body{
	font-family: 'Raleway', sans-serif;
}

$navbarToTop: 10px;
$navbarToLeft: 15px;
$navbarWidth: 250px;
$navbarOffset: 320px;
$navbarTransitionTime: 0.15s;
.navbar {
	height: 95%;
	width: $navbarWidth;
	top: $navbarToTop;
	left: $navbarToLeft;
	position: fixed;
	border: $cardBorder solid #000;
	border-radius: 35px;
	background-color: $primaryDark;
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4); //h-offset, v-offset, blur, spread, color
	transition: $navbarTransitionTime;

	.avatar{
		display: block;
		margin: 26px auto 32px auto;
		width: 160px;
		height: auto;
		border-radius: 50%;
		box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4); //h-offset, v-offset, blur, spread, color
		transition: $navbarTransitionTime;
	}

	.title{
		text-align: center;
		font-size: 20px;
		margin-bottom: 32px;
		color: $textColorPrimary;
		transition: $navbarTransitionTime;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 15px 0px 15px 20%; //top, right, bottom, left
		color: $textColorPrimary;
		transition: $navbarTransitionTime;

		&:hover{
			background-color: $secondaryDark;
			transition: $navbarTransitionTime;
		}

		&.selected{
			color: $accentColor;
		}

		.icon{
			width: 24px;
			margin-right: 31px;
			height: auto;
			vertical-align: middle;
		}
	}
}

//handle mobile view for navbar
@media screen and (max-width: $mobileMaxWidth){
	.navbar{
		display: flex;
		justify-content: space-between;
		height: auto;
		margin: 15px auto 15px auto;
		position: static;
		top: 0;
		left: 0;
		padding: 10px 15px 10px 15px; //top right bottom left

		.avatar{
			display: none;
		}

		.title{
			display: none;
		}

		a{
			padding: 5px;

			.icon{
				text-align: center;
				margin: 0px;
			}

			.label{
				display: none;
			}
		}
	}
}








.content{
	margin-top: 50px;
	margin-left: $navbarOffset;
	margin-right:  $navbarOffset - $navbarWidth - $navbarToLeft;

	$cardBorderRadius: 35px;
	.card{	
		border-radius: $cardBorderRadius;
		padding: 15px 15px 20px 20px;
		box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4); //h-offset, v-offset, blur, spread, color

		.image{
			border-radius: $cardBorderRadius $cardBorderRadius 0px 0px; //top left, top right, bottom right, bottom left
			margin: -15px -15px 20px -20px;
			background-size: cover;
			height: 40vh;
			background-position: center;
		}

		.title{
			font-weight: bold;
		}

		.text{

		}

		.button-list{
			display: inline-block;
		}

		.button{
			display: inline-block;
			background-color: rgba(0,0,0,0);
			color: $textColorSecondary;
			cursor: pointer;
			padding: 3px 8px 3px 8px; //top right bottom left
			margin: 8px 4px 8px 4px;
			border-radius: 15px;
			border-style: solid;
			border-width: 3px;
			border-color: $accentColor700;
			transition: 0.1s;
			-webkit-transition: 0.1s;
			user-select: none;
			text-decoration: none;
			font-weight: bold;
			white-space: pre-wrap;

			&:hover{
				background-color: $accentColor;
				color: #ffffff;
				text-decoration: none;
				transition: 0.1s;
				-webkit-transition: 0.1s;
			}
		}
	}
}

//handle mobile view for content
@media screen and (max-width: $mobileMaxWidth){
	.content{
		margin-left: 0px;
		margin-right: 0px;

		.card{
			width: 85%;
			margin: auto;

			.image{

			}

			.text{

			}

			.button-list{

			}

			.button{
				
			}
		}
	}
}








footer{
	color: $textColorPrimary;
	margin-top: 50px;
	margin-left: $navbarOffset;
	margin-right:  $navbarOffset - $navbarWidth - $navbarToLeft;
	padding: 15px 15px 15px 20px;
	border: $cardBorder solid #000;
	border-radius: 35px;
	background-color: $primaryDark;
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.4); //h-offset, v-offset, blur, spread, color
}


//handle mobile view for footer
@media screen and (max-width: $mobileMaxWidth){
	footer{
		width: 85%;
		margin: 50px auto 0px auto;
	}
}



