body{
	font-family: "Roboto", sans-serif;
	font: 20px;
	line-height: 1.8;
	background-color: #FAFAFA;
}

h1{
	margin: 0px;
}

h3{
	font-size: 28px;
	margin:0px;
}

p{
	margin: 0px;
}

.mdl-layout__title{
	margin-bottom: 16px;
}

.avatar{
	margin-top: 26px; 
	margin-bottom: 32px;
	width: 160px;
	height: auto;
	border-radius: 50%;
}

.nav-drawer-list-image{
	width: 24px;
	margin-right: 31px;
	height: auto;
	vertical-align: middle;
}

.mdl-navigation__link{
	font-family: sans-serif;
	font-weight: 600;
}

.card-container-home{
	width: 68%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 90px;
}

@media only screen and (max-width: 720px){
	.card-container-home{
		width: 90%;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 90px;
	}
}

.card-container-codeone{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 90px;
}

.card-container-projects-big{
	width: 65%;
	margin: auto; /*center align*/
	margin-top: 40px;
	margin-bottom: 40px;
}

.card-container-leadership{
	width: 65%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.card-container-github{
	width: 80%;
	margin: auto; /*center align*/
	margin-top: 40px;
	margin-bottom: 40px;
}

.card-container-contact{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 90px;
}

@media only screen and (max-width: 720px){
	.card-container-projects-big{
		width: 90%;
	}

	.card-container-leadership{
		width: 90%;
	}

	.card-container-github{
		width: 90%;
	}

	.card-container-contact{
		width: 90%;
	}
}

.card{
	box-shadow: 0px 1px 6px rgba(0,0,0,0.25);
	background-color: #ffffff;
}

.card-blue{
	box-shadow: 0px 1px 6px rgba(0,0,0,0.25);
	background-color: #2979FF;
}

.text-white{
	color: #ffffff;
}

.card-text-container{
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 18px;
	padding-bottom: 18px;
	color: #424242;
}

.card-text-container h1{
	font-size: 24px;
}

.card-text-container h3{
	font-size: 19px;
	margin-bottom: 10px;
}

.card-text-container p{
	font-size: 15px;
}

.home-me-image{
	height: 40vh;
	background-position: center;
	background-size: cover;
}

.material-icons.icon-style { 
	color: #01579B; 
}

.material-icons.huge{
	font-size: 80px;
}

.material-button{
	margin-top: 15px;
}

.bold{
	font-weight: bold;
}

.section-header{
	margin-top: 50px;
	margin-bottom: 50px;
}

.text-center{
	text-align: center;
}

.clickable{
	background-color: rgba(0,0,0,0);
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.clickable:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.homeScreenH3{
	margin-top: -8px;
}

.homeScreenP{
	margin-top: -8px;
}

.mdl-cell-homescreen{
	padding: 10px;
}

.footer-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.ellipse-text{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 80%;
}

/*used on the leadership page for event information*/
.variable-cell-padding{
	padding: 0px 16px;
}

@media only screen and (max-width: 1100px){
	.mdl-cell{
		display: block;
		width: 100%;
	}

	.variable-cell-padding{
		padding: 0px;
	}
}

/*empty class that does literally nothing*/
.leadership-media{
	
}

.leadership-media-icon{
	text-align: center;
	width: 220px;
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}

.leadership-media-icon-wide{
	text-align: center;
	width: 80%;
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}

.leadership-media-image{
	text-align: center;
	max-width: 100%;
	display: block;
	height: auto;
	margin: 0 auto;
}

.leadership-media-video{
	min-height: 350px;
}

.list-item{
	padding: 0px 0px 16px 0px;
}

.list-title{
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .04em;
	color: rgba(0,0,0,.87);
}

.list-content{
	font-size: 15px !important;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 18px;
	color: rgba(0,0,0,.54);
	display: block;
	padding: 0;
}