body{
	font-family: "Roboto", sans-serif;
	font: 20px;
	line-height: 1.8;
	background-color: #FAFAFA;
}

h1{
	margin: 0px;
}

h3{
	font-size: 28px;
	margin:0px;
}

p{
	margin: 0px;
}


.mdl-layout__title{
	margin-bottom: 16px;
}

.avatar{
	margin-top: 26px; 
	margin-bottom: 32px;
	width: 160px;
	height: auto;
	border-radius: 50%;
}

.nav-drawer-list-image{
	width: 24px;
	margin-right: 31px;
	height: auto;
	vertical-align: middle;
}

.mdl-navigation__link{
	font-family: sans-serif;
	font-weight: 600;
}

.card-container-home{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 90px;
}

@media only screen and (max-device-width: 480px){
	.card-container-home{
		width: 82%;
		margin: auto;
		margin-top: 10%;
		margin-bottom: 90px;
	}
}

.card-container-codeone{
	width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 90px;
}

.card-container-projects-big{
	width: 80%;
	margin: auto; /*center align*/
	margin-top: 40px;
	margin-bottom: 40px;
}

.card-container-contact{
	max-width: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 90px;
}

.card{
	box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
	background-color: #ffffff;
}

.card-blue{
	box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
	background-color: #2979FF;
}

.text-white{
	color: #ffffff;
}

.card-text-container{
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 18px;
	padding-bottom: 18px;
	color: #424242;
}

.card-text-container h1{
	font-size: 24px;
}

.card-text-container h3{
	font-size: 20px;
	margin-bottom: 10px;
}

.card-text-container p{
	font-size: 16px;
}

.home-me-image{
	height: 375px; 
	/*background-image: url('images/me.jpg');*/ /*implemented directly into the style of the div b/c it only works that way*/
	background-position: center;
	background-size: cover;
}

.material-icons.icon-style { 
	color: #01579B; 
}

.material-icons.huge{
	font-size: 80px;
}

.bold{
	font-weight: bold;
}

.section-header{
	margin-top: 50px;
	margin-bottom: 50px;
}

.material-button{
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	background: #2979FF;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 0.3px;
	font-size: 14px;
	border:none;
	border-radius: 2px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.25);
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.material-button:hover{
	background-color: rgba(41, 121, 255, 0.85);
	cursor: pointer;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.material-button-white{
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	background: #FFFFFf;
	color: #424242;
	font-weight: bold;
	letter-spacing: 0.3px;
	font-size: 14px;
	border:none;
	border-radius: 2px;
	box-shadow: 0px 2px 5px rgba(0,0,0,.25);
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.material-button-white:hover{
	background-color: rgba(255, 255, 255, 0.9);
	cursor: pointer;
	transition: 0.1s;
	-webkit-transition: 0.1s;
}

.text-center{
	text-align: center;
}

.clickable{
	background-color: rgba(0,0,0,0);
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.clickable:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.1);
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.homeScreenH3{
	margin-top: -8px;
}

.homeScreenP{
	margin-top: -8px;
}

.mdl-cell-homescreen{
	padding: 10px;
}

.footer-bottom{
	position: absolute;
	bottom: 0;
	width: 100%;
}